.container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
}

.wraper-box {

  justify-content: center;
  align-items: center;
  height: 150px;
  width: 40%;

}

body {
  background: url('images/clear.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


