.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-box {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 10px;
  margin: 10px;
}

p, h3 {
  color: white;
}



body {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('images/clear.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.temp {
  border-radius: 25px;
  background-color: white;
  padding: 3px;
  border: 1px solid black;
  color: black;
}

.temp:hover {
  background-color: black;
  color: white;
}

button:focus {
  outline: none;
}

